.sp_EFvMd5CREQe_1_5x{background-image:url(/rsrc.php/v3/y3/r/MHRhBpF8EUm.png);background-size:14px 14px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_EFvMd5CREQe_1_5x.sx_edf703{background-position:0 0}

#bootloader_MEG8T{height:42px;}.bootloader_MEG8T{display:block!important;}